@import '../variables.scss';

.input {
  width: 100%;
  outline: none;
  border-radius: 12px;
  border: 1px solid $secondary;

  &:focus {
    box-shadow: none !important;
  }
}
.counter {
  padding: 10px;
  align-items: center;
  border-radius: 25px;
  display: inline-flex;
  background: $light-gray;
  justify-content: space-around;
  border: 1px solid $light-gray;

  > p {
    margin: 0;
    padding: 0 20px;
  }
}

.upload {
  &_container {
    display: flex;
    margin: 1rem 0;
    align-items: center;
    justify-content: center;
  }
  &_input {
    color: $gray;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: $light-gray;
    justify-content: center;
    border: 1px solid $secondary;
    :global(.p-button-label) {
      display: none;
    }
    :global(.p-button-icon) {
      margin: 0;
    }
  }
  &_preview {
    height: 120px;
    position: relative;
    border-radius: 20px;
    &_close {
      top: -10px;
      right: -10px;
      position: absolute;
      border-radius: 50%;
      border: 2px solid $dark-blue;
    }
    &_img {
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
