@import '../variables.scss';

.modal {
  padding: 2rem;
  position: relative;
  border-radius: 14px;
  background-color: $light-gray;
  height: calc(100vh - (0.5rem * 2));
  @media (min-width: 576px) {
    height: calc(100vh - (1.75rem * 2));
  }
  &_close {
    border-bottom: none;
  }
  &_content {
    left: 0;
    right: 0;
    bottom: 0;
    top: 100px;
    overflow-y: scroll;
    position: absolute;
  }
}
