:root {
  // variables
  --clr-background: hsl(0, 0%, 96%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-primary: hsla(358, 91%, 43%, 1);
  --clr-primary-highlight: hsl(0, 17%, 98%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--clr-background);
}
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--clr-primary);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
// prime react custom styles

.p-tabmenu-nav {
  justify-content: space-between;
}
.p-tabmenuitem:first-child > a {
  padding-left: 0 !important;
}
.p-tabmenuitem:last-child > a {
  padding-right: 0 !important;
}
.p-tabmenu * {
  border: none !important;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  border-radius: 20px !important;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  position: relative;
  background-color: var(--clr-primary-highlight) !important;
  
  &::after{
    content: '';
    position: absolute;
    width: 2rem;
    right: 35%;
    bottom: 0;
    border-radius: 2px;
    height: 3px;
    background-color: var(--clr-primary);
  }
}