.datatable {
    input {
      width: 100% !important;  
    }
}
.table_header {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    & > div {
        display: flex;
        gap: 2vw;
    }
}
.actions_field {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 1rem !important;
}