@import '../variables.scss';
@import '../UI/inputs.module.scss';
@import '../UI/buttons.module.scss';

.title {
  font-size: 32px;
  color: $secondary;
  margin-bottom: 3rem;
}
.steps {
  margin-bottom: 4rem;
  :global(.p-menuitem-link):focus {
    box-shadow: none !important;
  }
  :global(.p-highlight .p-steps-number) {
    background-color: $primary !important;
  }
  :global(.p-highlight .p-steps-title) {
    font-weight: bold;
    font-size: 20px;
  }
}

.container {
  .subtitle {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .buttons {
    margin-bottom: 4rem;

    :global(.p-button) {
      background-color: $white;
      color: $primary;
    }
    :global(.p-button[aria-pressed='true']) {
      background-color: $primary;
      color: $white;
    }
  }
  .col {
    margin-bottom: 2rem;
  }
}
