.topbar {
    background-color: #fff;
    width: 100%;
    padding: 1rem;
    section {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap:1rem;
    }
    section > div {
        display: flex;
        flex-direction: column;
    }
    strong {
        margin-top: 12px;
    }
    label {
        font-weight: 300;
    }
}
.icon {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
}
.dropdown {
    padding-left: 40px;
    display: flex;
    position: relative;
    align-items: center;
}