.topbar {
  background-color: #fff;
  width: 100%;
  color: var(--clr-black);
  padding: calc(var(--padding-inline) / 2) var(--padding-inline);
  @media (max-width: 900px) {
    padding-bottom: 2rem;
  }
  section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 900px) {
      flex-direction: column;
      text-align: center;
    }
  }
  section > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 900px) {
      width: 100%;
    }
  }
  strong {
    margin-top: 12px;
  }
  label {
    font-weight: 300;
  }
}
.icon {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
}
.dropdown {
  padding-left: 40px;
  display: flex;
  position: relative;
  align-items: center;
}
