.topbar {
    background-color: #fff;
    padding: 2em 5vw;
    section {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 4em;
        padding-bottom: 1.5em;
    }
}
.p-tabmenu-nav {
    background-color: rebeccapurple !important;
}