.card:not(:last-child){
    margin-bottom: 2em;
}

.card_header {
    background-color: var(--clr-white);
    align-items: center;
    padding: 1em 1em 0;
    & > div {
        display: flex;
        justify-content: flex-end;
    }
    & p {
        margin: 1em 0 0;
    }
}
.card_body {
    
    background-color: var(--clr-white);
    margin: 0;
    padding: 1em 1em ;
    & span {
        display: block;
        text-align: right;
    }
}
.btn_white{
    margin-left: 0.5em;
    background-color: #f6f6f6 !important;
    border: none !important;
    color: var(--clr-gray) !important;
    &:hover,&:focus {
        background-color: var(--clr-info) !important;
        color: white !important;
    }
    &:last-child:hover, &:last-child:focus {
        background-color: var(--clr-primary) !important;
    }
}